
@import url(/static/site-style.css);

body {
	color: #999999;

       background-color: #000000;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0px;
	padding: 0px;
}

pre {  font-size: 90%; margin-top: 0; margin-bottom: 0; }

h6 { 
	font-size: 10px;
	letter-spacing: 0.5px;
	font-weight: bold;
 }

h3 {
	color: #D7001D;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
}

p {
	padding-left: 5px;
}

a {
	font-style: italic;
	color: #D7001D;

	text-decoration: none;
}

a:hover {
	color: grey;
}

ul {
        line-height: 1em;
        list-style-type: square;
	margin: 0 0 0 25px;
	padding-left: 0;
        padding-top: 1px;
        padding-bottom: 0.2px;
}

li {
	margin-bottom: 15px;
}

li a:link {
	display: inline;
	background-image: none;
}

acronym {
	font-style: italic;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
	cursor: help;
}

#container {
	width: 740px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	margin-bottom: 40px;
        border: none;
}


#logo { 	
         background-image:   url(cycla.jpg);
         background-repeat: no-repeat;
         height: 150px;
 }

#top {
       cursor: help;
	margin-left: auto;
	padding: 20px 10px 10px;
       text-align: right;
	margin-right: 0px;
	margin-top: 0px;
       border: none;
}

#pagetitle {
	color: #D7001D;
        padding-top: 20px;
	font-size: 32px;
	font-style: normal;
        text-align: right;
}

#pagesubtitle {
	color: #D7001D;
	font-size: 18px;
	font-weight: lighter;
	font-style: italic;
	vertical-align: middle;
}

.comment {
    padding: 0.5em;
    margin:5px;
padding-top: 0;
padding-bottom: 0;
margin-bottom: 1px;
}


#infos { 
    display: block;
    border: 1px dashed grey;
	text-align: center;
 }



#content {
	width: 520px;
	text-align: justify;
}

#content pre { 
    font-size: 100%;
    padding: 1px;
    border: 1px solid #8cacbb;
    overflow: auto;
    background-color: #000000;

 }


#leftnav {
	margin-top: 5px;
        display: block;
        width: 150px;
        float: left;
        clear: both;
}

#leftnav li a {
	display: block;
	font-size: 12px;
	font-weight: bold;
}


#leftnav h3 {
	font-size: 18px;
}


#rightnav {
	margin-top: 50px;
       display: block;
        width: 150px;
       float: left;
}


#rightnav li a {
	display: block;
	font-size: 12px;
	font-weight: bold;
}

#rightnav h3 {
	font-size: 18px;
}

#footer {
        border: none;
	display: inline;
        float: right;
	font-size: 10px;
	text-align: center;
	padding-left: 80px;
        padding-top: 10px;
}

#calendar { padding-bottom: 10px; }
#feeds div { text-align: center; }
#languages div { text-align: center; }

/************************************************************/ 
/*             Structural Elements                          */
/************************************************************/ 

/* portal messages */

.portalMessage {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    color: Black;
    font-size: 85%;
    font-weight: bold;
    margin: 2em 0em 1em 0em;
    padding: 0.5em 1em;
    vertical-align: middle;
}
.portalMessage a {
    color: White;
    text-decoration: underline;
}


/* The new form elements */
.field {
    top: 0;
    left: 0;
    margin: 0 1em 1em 0;    
}

.field .field {
    margin: 1em 0 0 0;
}

.field label {
    font-size: 100%;
    font-weight: bold;
}

.fieldRequired {

    padding: 0 0 0 8px;
    color: White;
} 

.formHelp {
    font-size: 90%;
    color: #76797c;
    margin: 0 0 0.2em 0;
}

.formHelp a {
    text-decoration: underline;
}

.formHelp:hover {
    color: Black;
    cursor: default;
}

.formControls {
   margin: 1em 0 0 0; 
}

.error {
    /* Class for error indication in forms */
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    padding: 1em;
    margin: 0 0 1em 0;
}

.error .fieldRequired {
   color: #ffce7b;
} 

#content fieldset > * input:focus,
#content fieldset > * textarea:focus {
    border-color: Red;
    border-width: 1px;
}

.pre a {
    text-decoration: underline;
}



fieldset {
    border: 1px solid #8cacbb;
    margin: 1em 1em 1em 1em;
    padding: 0em 1em 1em 1em;
    line-height: 1.5em;
}

legend {
    padding: 0em;
}

form {
    border: none;
    margin: 0;
}

textarea {
    border: 1px solid #8cacbb;
    color: White;
    background-color: Black;
    width: 98%;
    padding: 0.1em;
}
input {
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    visibility: visible;
    border: 1px solid #8cacbb;  
    color: White;
    background-color: #000000;
    vertical-align: middle;
    padding: 0.1em;
}
select {
    border: 1px solid #8cacbb;  
    background-color: #000000;
    color: White;
    vertical-align: top;
}
