
/* Inline Buttons 
   http://wellstyled.com/css-inline-buttons.html */

.inline-button {
	_width:12em;
	font: bold 65%/1 Verdana, sans-serif;
	margin: 0 0.2em; padding: 0.1em 0; _padding:0;
	border: 1px solid black;
	white-space:nowrap;
	text-decoration: none;
	vertical-align:middle;
	background: #ccc;
	color: black;
	}
.inline-button em {
	_width:1em; _cursor:hand;
	font-style: normal;
	margin:0; padding: 0.1em 0.5em;
	background: white;
	//background: black;
	color: black;
	}
.inline-button span {
	_width:1em; _cursor:hand;
	margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
	}
.inline-button:hover {
	background: #666;
	color: white;
	}
.inline-button:hover em {
	background: black;
	color: white;
	}

.orange { background: orange; color: black }
.orange em { background: white; color: #c60 }

.red { background: #D7001D; color: black }
.red em { background: grey; color: #D7001D }

.blue { background: #06c; color: white }
.blue em { background: white; color: #06c }

.green { background: green; color: white }
.green em { background: white; color: green }

.darkblue { background:#006; color:white }
.darkblue em { background:#ccf; color:#006 }

.brown { background:#dd9; color:black }
.brown em { background:#003; color:#ffc }
