
@import url(/static/inline-buttons.css);


html, body {
font-size: 100%;
             }

img {
border: 0px solid black;

}

#container
{
width: 90%;
margin: 10px auto;
border: 1px solid gray;
line-height: 130%;
}

#top
{
padding: .5em;
border-bottom: 1px solid gray;
cursor: help;
}

#leftnav
{
font-size: 85%;
float: left;
width: 100px;
margin: 0;
margin-left: 1px;
padding: 1em;
position: relative;
}

#rightnav
{
position: relative;
font-size: 85%;
float: right;
width: 190px;
margin: 0;
margin-right: 1px;
padding: 1em;
}

#content
{
margin-left: 200px;
margin-right: 215px;
padding: 1em;
max-width: 36em;
overflow: visible;
}

#footer
{
clear: both;
margin: 0;
padding: .5em;
border-top: 1px solid gray;
}

#content h2 { 
margin: 0 0 .5em 0; 
font-size: 95%;
}

#links, #sections, #referers { 
width: 100px;
float: left;
text-align: left;
 }

#menu, #languages, #designs, #popular, #calendar, #search, #feeds{ 
width: 160px;
float: right;
 }

#path { font-size: 95%; text-align: right; padding: 2px; margin: 2px;  }

#leftnav ul { padding-left: 5px; list-style-type: none;}
#rightnav ul { padding-left: 5px; list-style-type: none; }

#pagetitle { text-align: center; margin-top:5px; 
 }
#pagesubtitle { text-align: right;   
}

#leftnav h3 { margin-top:0; }
#leftnav div { margin-bottom: 3px; }
#rightnav h3 { margin-top:0; }
#rightnav div { margin-bottom: 3px; }

#pagetitle a { text-decoration: none; }

#feeds { 
    padding-bottom: 0.5em;
 }

#feeds div { text-align: right; }
#languages div { text-align: center; }

#calendar {             
margin-bottom: 2px;
 }

.article { 
padding-top: 0px;
margin-bottom: 5px;
    text-align: justify;

 }

.article h1 { font-size: 95%; }
.article h3 { margin-top: 0; }
.infos { 
    font-size: 80%;
    margin: 2px;
}

.comment { 
    margin: 2px;
    border: 1px solid black;
 }

div#newComment { 
    display: none;
    margin: 3px;
 }

div#editingComment { 
    margin: 3px;
}

pre {
    font-family: fixed;
    font-size: 95%;
    font-weight: normal; 
    overflow: auto;
}

textarea {
    width: 98%;
}


/* The new form elements */
.field {
    top: 0;
    left: 0;
    margin: 0 1em 1em 0;    
}

.field .field {
    margin: 1em 0 0 0;
}

.field label {
    font-size: 100%;
    font-weight: bold;
}

.fieldRequired {
    padding: 0 0 0 8px;
    color: Green;
} 

.formHelp {
    font-size: 90%;
    color: #76797c;
    margin: 0 0 0.2em 0;
}

.formHelp a {
    text-decoration: underline;
}

.formHelp:hover {
    color: Black;
    cursor: default;
}

.formControls {
   margin: 1em 0 0 0; 
}

.error {
    /* Class for error indication in forms */
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    padding: 1em;
    margin: 0 0 1em 0;

}

.error .fieldRequired {
   color: #ffce7b;
} 

.portalMessage {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    color: Black;
    font-size: 85%;
    font-weight: bold;
    margin: 2em 0em 1em 0em;
    padding: 0.5em 1em;
    vertical-align: middle;
}
.portalMessage a {
    color: Black;
    text-decoration: underline;
}



/* SilverCity */


.code_default
{
    FONT-FAMILY: "Courier New", Courier, monospace;
    FONT-SIZE: 10pt;
}

.css_class
{
    color: #900000;
}

.css_comment
{
	color: green;
	font-style: italic;
}

.css_default
{
}

.css_directive
{
    color: #009000;
	font-weight: bold;
}

.css_doublestring
{
	color: navy;
}

.css_id
{
    color: #900000;
}

.css_identifier
{
	color: black;
}

.css_important
{
	color: blue;
}

.css_operator
{
    color: #000090;
	font-weight: bold;
}

.css_pseudoclass
{
    color: #900000;
}

.css_singlestring
{
	color: navy;
}

.css_tag
{
    color: #900000;
	font-weight: bold;
}

.css_unknown_identifier
{
	color: red;
}

.css_unknown_pseudoclass
{
    color: #ff0000;
}

.css_value
{
	color: navy;
}

.c_character
{
	color: olive;
}

.c_comment
{
	color: green;
	font-style: italic;
}

.c_commentdoc
{
	color: green;
	font-style: italic;
}

.c_commentdockeyword
{
	color: navy;
	font-weight: bold;
}

.c_commentdockeyworderror
{
	color: red;
	font-weight: bold;
}

.c_commentline
{
	color: green;
	font-style: italic;
}

.c_commentlinedoc
{
	color: green;
	font-style: italic;
}

.c_default
{
}

.c_identifier
{
	color: black;
}

.c_number
{
    color: #009999;
}

.c_operator
{
	color: black;
}

.c_preprocessor
{
	color: navy;
	font-weight: bold;
}

.c_regex
{
	color: olive;
}

.c_string
{
	color: olive;
}

.c_stringeol
{
	color: olive;
}

.c_uuid
{
	color: olive;
}

.c_verbatim
{
	color: olive;
}

.c_word
{
	color: navy;
	font-weight: bold;
}

.c_word2
{
	color: navy;
	font-weight: bold;
}

.h_asp
{
    color: #ffff00;
}

.h_aspat
{
    color: #ffdf00;
}

.h_attribute
{
    color: #008080;
}

.h_attributeunknown
{
    color: #ff0000;
}

.h_cdata
{
    color: #ffdf00;
}

.h_comment
{
    color: #808000;
}

.h_default
{
}

.h_doublestring
{
	color: olive;
}

.h_entity
{
    color: #800080;
}

.h_number
{
    color: #009999;
}

.h_other
{
    color: #800080;
}

.h_script
{
    color: #000080;
}

.h_singlestring
{
	color: olive;
}

.h_tag
{
    color: #000080;
}

.h_tagend
{
    color: #000080;
}

.h_tagunknown
{
    color: #ff0000;
}

.h_xmlend
{
    color: #0000ff;
}

.h_xmlstart
{
    color: #0000ff;
}

.pl_array
{
	color: black;
}

.pl_backticks
{
	color: olive;
}

.pl_character
{
	color: olive;
}

.pl_commentline
{
	color: green;
	font-style: italic;
}

.pl_datasection
{
	color: olive;
}

.pl_default
{
}

.pl_error
{
	color: red;
}

.pl_hash
{
	color: black;
}

.pl_here_delim
{
	color: olive;
}

.pl_here_q
{
	color: olive;
}

.pl_here_qq
{
	color: olive;
}

.pl_here_qx
{
	color: olive;
}

.pl_identifier
{
	color: black;
}

.pl_longquote
{
	color: olive;
}

.pl_number
{
    color: #009999;
}

.pl_operator
{
	color: black;
}

.pl_pod
{
	color: black;
	font-style: italic;
}

.pl_preprocessor
{
	color: navy;
	font-weight: bold;
}

.pl_punctuation
{
	color: black;
}

.pl_regex
{
	color: olive;
}

.pl_regsubst
{
	color: olive;
}

.pl_scalar
{
	color: black;
}

.pl_string
{
	color: olive;
}

.pl_string_q
{
	color: olive;
}

.pl_string_qq
{
	color: olive;
}

.pl_string_qr
{
	color: olive;
}

.pl_string_qw
{
	color: olive;
}

.pl_string_qx
{
	color: olive;
}

.pl_symboltable
{
	color: black;
}

.pl_word
{
	color: navy;
	font-weight: bold;
}

.p_character
{
	color: olive;
}

.p_classname
{
	color: blue;
	font-weight: bold;
}

.p_commentblock
{
	color: gray;
	font-style: italic;
}

.p_commentline
{
	color: green;
	font-style: italic;
}

.p_default
{
}

.p_defname
{
    color: #009999;
	font-weight: bold;
}

.p_identifier
{
	color: black;
}

.p_number
{
    color: #009999;
}

.p_operator
{
	color: black;
}

.p_string
{
	color: olive;
}

.p_stringeol
{
	color: olive;
}

.p_triple
{
	color: olive;
}

.p_tripledouble
{
	color: olive;
}

.p_word
{
	color: navy;
	font-weight: bold;
}

.yaml_comment
{
    color: #008800;
	font-style: italic;
}

.yaml_default
{
}

.yaml_document
{
    color: #808080;
	font-style: italic;
}

.yaml_identifier
{
	color: navy;
	font-weight: bold;
}

.yaml_keyword
{
    color: #880088;
}

.yaml_number
{
    color: #880000;
}

.yaml_reference
{
    color: #008888;
}


