#compiler directiveStartToken = '<!-- #'
<!-- #compiler directiveEndToken = '#-->'

<!-- #extends templates.AtomPage #-->
<!-- #def getEntries #-->
<!-- #for $comment in $getComments() #-->
<entry>
<title>$comment.title_or_id()</title>
<author>
<name>$comment.author</name>
</author>
<link rel="alternate" type="text/html" href="$comment.public_url()"/>
<id>$comment.public_url()</id>
<updated>$formatDate($comment.date)</updated>
<content type="html">
$comment.getEncodedHtml()
</content>
</entry>
<!-- #end for #-->
<!-- #end def #-->
