#compiler directiveStartToken = '<!-- #'
<!-- #compiler directiveEndToken = '#-->'

<!-- #extends templates.RSSPage #-->

<!-- #def getItems #-->
<!-- #for $comment in $getComments() #-->
<item rdf:about="$comment.public_url()">
<dc:date>$formatDate($comment.date)</dc:date>
<title>$comment.title_or_id()</title>
<link>$comment.public_url()</link>
<author>$comment.author</author>
<description>
$comment.getEncodedHtml()
</description>
</item>
<!-- #end for #-->
<!-- #end def #-->
