
@import url(/static/site-style.css);

.rtop,.rbottom{display:block}
.rtop *,.rbottom *{display:block;height: 1px;overflow: hidden}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px;height: 2px}

.rs1{margin: 0 2px}
.rs2{margin: 0 1px}

#container { color: #333;
 }

#top { background-color: #FF8F8F;
color: #000;

 }

#footer { color: #333;
background-color: #66CCFF;
 }

#calendar {             background-color: #FFCCFF;
            
}

#sections { background-color: #CCCCFF; }
#links { background-color: #CCFFE6; }
#popular { background-color: #FFDD57; }
#menu { background-color: #FFCC99; }

.article { background-color: #FFE6CC;
 }

#preview { 
   background-color: #f9af46;
 }

pre {     background-color: #FFCC99;
 }

/* Calendar */

.calendar {
            color:black; 
            padding:0px; 
            width: 35px;
            }

.calendar caption input { 
background-color: #f4a6f3;
                          }

.calendar caption {
                    text-align:center; 
                    padding:3px;
                    }

.calendar th {
               text-align:center; 
               padding:2px;
               }

.calendar td {
               text-align:right; 
               padding:2px;
               }

input {
    border: 1px solid;
}


textarea {
    color: Black;
    width: 98%;
    padding: 0.1em;
}
