#compiler directiveStartToken = '<!-- #'
<!-- #compiler directiveEndToken = '#-->'

<?xml version="1.0" encoding="iso-8859-1"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
<title>$getFeedTitle()</title>
<link>$getFeedUrl()</link>
<description>$getFeedDesc()</description>
<language>$getFeedLang()</language>
<copyright>$getFeedCopyright()</copyright>
<generator>Alinea http://pythonfr.org/alinea/</generator>
$getItems()
</channel>
</rss>

<!-- #def getItems #-->
Content to override
<!-- #end def #-->
