#compiler directiveStartToken = '<!-- #'
<!-- #compiler directiveEndToken = '#-->'

<?xml version="1.0" encoding="iso-8859-1"?>
<rdf:RDF xmlns="http://purl.org/rss/1.0/"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:content="http://purl.org/rss/1.0/modules/content/">

<channel rdf:about="$getFeedUrl()">
<description>$getFeedDesc()</description>
<link>$getFeedUrl()</link>
<title>$getFeedTitle()</title>
<!-- #cache(id="RSS_itemLinks", timer="8h" #-->
<!-- #set $itemsLinks = $getItemsLinks() #-->
<!-- #if $len($itemsLinks) #-->
<items>
<rdf:seq>
<!-- #for $itemLink in $itemsLinks #-->
<rdf:li rdf:resource="$itemLink"/>
<!-- #end for #-->
</rdf:seq>
</items>
<!-- #else #-->
<items />
<!-- #end if #-->
<!-- #end cache #-->
</channel>
$getItems()
</rdf:RDF>

<!-- #def getItems #-->
Content to override
<!-- #end def #-->

<!-- #def getItemsLinks #-->
Content to override
<!-- #end def #-->
